.noFocus {
    -fx-focus-color: transparent;
}

.canfocus {
    -fx-focus-color: #fd8cb1;
    -fx-base: white;
}

.titlePane {
    -fx-background-color: #555;
}

.modPane {
    -fx-border-color: gray;
    -fx-border-width: 0 0 1 0;
}

.toolPane {
    -fx-background-color: #ddd;
}

.smile {
    -fx-background-color: #ff669c;
}

.pure {
    -fx-background-color: #04cb2b;
}

.cool {
    -fx-background-color: #0ca7fd;
}

.stamina {
    -fx-background-color: #999;
}

.toggleBtn {
	-fx-background-color: #de3273;
	-fx-font: 22px "Consolas";
	-fx-text-fill: white;
	-fx-background-radius: 0;
}

.toggleBtn:hover {
	-fx-background-color: #eb588f;
}

.toggleBtn:selected {
	-fx-background-color: #ee70a0;
}